.submit-button {
  margin: 0.5rem;
  width: 5rem;
  height: 1.5rem;
  cursor: pointer;
}
.submit-buttton:hover {
  opacity: 0.8;
}
.form-header {
  text-align: left;
}

form {
  background-color: lightgray;
  text-align: left;
  margin-left: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 80vh;
}
